.user-view {
  position: fixed;
  top: 16px;
  left: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: var(--primary);
  padding: 8px;
  border-radius: 8px;
}

.user-view__name {
  font-size: 14px;
  white-space: pre-wrap;
  font-weight: 600;
  color: white;
}

.user-view__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 12px;
  color: var(--primary);
  border-radius: 50%;
  font-weight: 600;
  background-color: white;
}
