.button {
  display: flex;
  justify-content: center;
  padding: 12px 24px;
  background: none;
  outline: none;
  border: 0;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
}

.button[data-kind="primary"] {
  background-color: var(--primary);
}
.button[data-kind="primary"]:hover {
  background-color: var(--primary-hover);
}

.button[data-kind="secondary"] {
  background-color: var(--secondary);
}

.button[data-kind="secondary"]:hover {
  background-color: var(--secondary-hover);
}

.button .loader-item {
  background-color: white;
}
